<div id="sub_nav_top_bar">
  <div id="sub_nav">
    <nav id="aboutus_nav">
      <ul class="nav nav-pills">
        <li><a href="/customer_lounge/overview">overview</a></li>
        <li><a href="/customer_lounge/sports_bar">Sports and Entertainment</a></li>
        <!-- <li><a href="/customer_lounge/music">music</a></li>
        <li><a href="/customer_lounge/stu_contact">stu's contact</a></li> -->
        <li><a href="/customer_lounge/locker_room">locker room</a></li>
<!--         <li><a href="/customer_lounge/movies">movies</a></li> -->
      </ul>
    </nav>
  </div>
</div>
<div class="clearfix"></div>
