<div id="sub_nav_top_bar">
  <div id="sub_nav">
    <nav id="aboutus_nav">
      <ul class="nav nav-pills">
        <li><a href="#staff picks">staff picks</a></li>
        <li><a href="#portfolio">portfolio</a></li>
        <li><a href="#case studies">case studies</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="clearfix"></div>

