<div id="sub_nav_top_bar">
  <div id="sub_nav">
    <nav id="aboutus_nav">
      <ul class="nav nav-pills">
        <li><a href="/idea_center/staff_picks">staff picks</a></li>
        <li><a href="/idea_center/portfolio">portfolio</a></li>
        <li><a href="/idea_center/case_histories">case histories</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="clearfix"></div>

