<div id="sub_nav_top_bar">
  <div id="sub_nav">
    <nav id="aboutus_nav">
      <ul class="nav nav-pills">
        <li><a href="#our story">our story</a></li>
        <li><a href="#services">services</a></li>
        <li><a href="#design/print">design/Print</a></li>
        <li><a href="#innovations">innovations</a></li>
       <li><a href="#international">international</a></li>
       <li><a href="http://creativepromoproducts.espwebsite.com/AboutUs/"  target="_blank">PRODUCT SEARCH</a></li>

      </ul>
    </nav>
  </div>
</div>
<div class="clearfix"></div>
