// Place all the styles related to the aboutus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sidebar.aboutus{
 margin-top:10.6em;
}
#content.aboutus{
 margin-top:6em;
}
#mainscreen.innovations{
 background:url('aboutus/innovations.jpg') no-repeat center;
 min-width:1219px;
 min-height:413px;
 margin: 0 auto;
 background-size: 100%;
}
#tissueboxes{
 z-index:0; 
}
