/* This is a manifest file that will be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*HTML reset*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  color:#000000;
  line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*HTML reset Ends*/

@import "bootstrap";
@import "bootstrap-responsive";

@font-face {
  font-family: nimbus;
  src: url("/assets/n019044t.ttf'") format("truetype"); /* For IE */
  src: local("nimbus"), url("/assets/n019044t.ttf") format("truetype"); /* For non-IE */
}
@font-face {
  font-family: nimbus_italic;
  src: url("/assets/n019062d.ttf'") format("truetype"); /* For IE */
  src: local("nimbus_italic"), url("/assets/n019062d.ttf") format("truetype"); /* For non-IE */
}
@font-face {
  font-family: nimbus_conbla;
  src: url("/assets/n019046t.ttf'") format("truetype"); /* For IE */
  src: local("nimbus_italic"), url("/assets/n019046t.ttf") format("truetype"); /* For non-IE */
}

 html,body{height:100%; background-color: #000000;}

a{
  text-decoration:none;
  color: black;
}

.row-fluid{
  width: 1024px;
  margin-left:auto;
  margin-right:auto;
}
.nav {
  margin-left: 0;
  margin-bottom: 0px;
  list-style: none;
}
.header{
  position: relative;
  z-index: 1;
  padding-top:20px;
  padding-bottom:20px;
}
.container{
  width: 1130px;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  width: 1130px;
  margin-left: auto ;
  margin-right: auto ;
  background-color: #ffffff;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
width: 1130px;
display: block;
line-height: 1;
}

.carousel,.item,.active{height:100%;}
.carousel-inner{
  width: 1130px;
  height:100%;
}
.carousel {
  width: 1130px;
  height: 100%;
  /* position: relative; */
  margin-bottom: 0px;
  line-height: 1;
}

#main_nav li{
  text-transform:uppercase;
  }

#main_nav{
  padding-top: 30px;
  padding-left:20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family:'nimbus_conbla';
  font-size: 1.1em;
  /* border: 1px solid black; */
}
#main_nav li > a:hover{
  background-color: #ffffff;
  border: 1px solid #ffd200;
  border-radius: 0;
}
#main_nav li > a{
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0;
  color: #999999;
}
.navbar-search {
  padding-left: 20px;
  position: relative;
  float: left;
  margin-top: 5px;
  margin-bottom: 0;
}
.navbar-search .search-query {
  width: 120px;
  padding-top:4px;
  padding-right:14px;
  margin-bottom: 0;
  font-family:'nimbus';
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0;

}


#sub_nav{
  background-color: black;
  display: block;
  width: 60em;
  margin-left: auto ;
  margin-right: auto ;
  color: white;
  font-family:'nimbus_conbla';
  font-size: 1.1em;

}
#sub_nav .nav > li > a{
  background-color: black;
  border-radius: 0;
  color: #ffffff;
}

#sub_nav_top_bar{
  position: relative;
  z-index: 1;
  background-color: black;
  height:3.2em;
}
#sub_nav_botton_bar{
  background-color: black;
  background-color: black;
  display: block;
  height: 1.25em;
  margin-left: auto ;
  margin-right: auto ;
  font-family:'nimbus_conbla';
  font-size: 1.1em;
}
#sub_nav ul>li{
  text-transform:uppercase;
}
#sub_nav.nav-tabs, .nav-pills {
  padding-left: 10.2em;
}

#featured{
  width:750px;
}

#featured #one{
  width:50%;
}
#featured #two{
  width:50%;
}

#content{
 margin-top:5em;
}

#sidebar{
  margin: 0 auto;
  //margin-top: 24em;
  background-image:url('sidebar.png');
  width:9.5em;
  height:28.5em;
  padding-top:1.25em;
  padding-left:2.5em;
  padding-right:1.25em;
  background-repeat: no-repeat;
  background-color: #ffffff;
  overflow: hidden;
}

#sidebar h3{
  text-transform: uppercase;
  font-size: 14pt;
  line-height: 18pt;
}

#main_body{
  width:1130px;
  z-index:0;
  position:absolute;
  /* margin: 0 auto; */
  background-image:url('background_aboutus.jpg');
  background-repeat: repeat-x;
  background-color: #ffffff;
}


#content_holder{
  z-index:1;
  position:relative;
  margin-top: 21em;
  margin-left: auto;
  margin-right: auto;
  height:50.3em;
}

#social{
  z-index:1;
  position:relative;
  width:9.3em;
}

#social ul{
  padding: 0px;
  margin: 0px;
}

#social ul>li{
  text-decoration:none;
  list-style:none;
  padding-bottom:0.5em;
}

#timeline{
  width:65.6em;
  height:12.8em;
  margin-top:1em;
  margin-right: 8em;
  margin-left: 5em;
  background-image:url('timeline_background.png');
  background-repeat: no-repeat;
  z-index:1;
  position:relative;
}

#lightbulb{
   z-index:4;
   position:absolute;
   margin-left:85%;
}

#main{
  padding-left:10.6em;
}

.dark_line{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #999999;
  height: 1px;
}

.white_line{
  margin-top: 5px;
  margin-bottom: 5px;
  color:white;
  height: .5px;
}


