// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#client_logos{
  width:100%;
}
#main{
  margin-top:70px;
  padding-left:70px;
}

#content_holder{
  z-index:1;
  position:relative;
  margin-top: 21em;
  margin-left: auto;
  margin-right: auto;
  height:100%;
}

#sidebar{
  margin-top:25em;
}
