// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#client_logos{
  width:100%;
}
#clients_main{
  margin-top:70px;
  padding-left:0px;
}

#clients_content_holder{
  z-index:1;
  position:relative;
  margin-top: 21em;
  margin-left: auto;
  margin-right: auto;
  height:100%;
}

#clients_sidebar{
  margin-top:25em;
  /* margin: 0 auto; */
  background:image_url('sidebar.png');
  width:152px;
  height:456px;
  padding-top:20px;
  padding-left:40px;
  padding-right:20px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  overflow: hidden;
}


