// Place all the styles related to the customer_lounge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#mainscreen.music{
 background:url('customer_lounge/music_mainscreen.jpg') no-repeat center;
 min-width:1219px;
 min-height:413px;
 margin: 0 auto;
 background-size: 100%;
}

#mainscreen.stu_contact{
 background:url('customer_lounge/stu_contact_mainscreen.jpg') no-repeat center;
 min-width:1219px;
 min-height:413px;
 margin: 0 auto;
 background-size: 100%;
}

#mainscreen.sportsbar{
 background:url('customer_lounge/sportsbar_mainscreen.jpg') no-repeat center;
 min-width:1219px;
 min-height:413px;
 margin: 0 auto;
 background-size: 100%;
}

#mainscreen.team_creative{
 background:url('team_creative/team_creative_mainscreen.jpg') no-repeat center;
 min-width:1219px;
 min-height:413px;
 margin: 0 auto;
 background-size: 100%;
}

#mainscreen.locker_room{
 background:url('customer_lounge/locker_mainscreen2.jpg') no-repeat center;
 min-width:1219px;
 min-height:413px;
 margin: 0 auto;
 background-size: 100%;
}

#locker_person{
 margin-top:2em;
 padding-left:2em;
 width:100%;
}

.locker.navbar-search {
padding-left: 0px;
position: relative;
float: left;
margin-top: 5px;
margin-bottom: 0;
}

#title_hr{
 width:90%;
}

#bar_pulls{
 margin-top:2.7em;
}

#locker_changer{
  margin-top:2.7em;
  margin-right:14.8em;
}

#wrapper{
 width:65em;
 margin-left:auto;
 margin-right:auto;
}

#bigtext{
 width:20em;
}

#bigtext h1{
 text-transform:uppercase;
}

#bigtext h5{

}

#lounge_content{
  margin-top: 0em;
  width:100%;
}

#content.locker_room{
  margin-top:4em;
  width:70%;
}

#content.sports_bar{
 margin-top: 0em;
 width:79%;
}

#title_text{
 text-transform:uppercase;
}

#title_text.one{
 padding-top:0.9em;
}

#lounge_content #one{
 margin-top:4em;
 width:100%;
}
.stu_contact_stu_text{
 width:48em;
}

#title_stu_subtext{
 color: rgb(0, 0, 0);
 font-family: 'nimbus_italic';
 padding-left: 1em;
 font-size: 1.5em;
}

.bar_text{
 width:58em;
}

.locker_room.text_window {
 width: 100%;
}

.text_window{
 margin-bottom:1em;
}


.text_window p.dotted{
  padding-bottom:1em;
  border-bottom-width: .15em;
  border-bottom-style: dotted;
}

.text_window.thirdway {
width: 62em;
}

#two.text_window{
  margin-right:4em;
}
.locker_account_text{
  width:53%;
}

#image2{
  padding-left: 1.2em;
}

.first_color{
  color:black;
}

.second_color{
  color:#527d88;
}

.third_color{
  color:white;
}

#sidebar.customer_lounge{
  margin-top:21em;
}

#bar_nav ul{
  padding-left:4em;
  padding-bottom:1em;
}

#bar_nav ul>li>a{
  display: block;
  margin-top:15px;
  margin-left: auto;
  font-family:'nimbus_conbla';
  font-size: 1.1em;
  text-transform:uppercase;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0;
  color: #999999;
}
#bar_nav ul>li>a:hover{
  background-color: #ffd200;
  border-radius: 0;
}

#top_scores{
  margin-top:1em;
  margin-left:2em;
}

