// Place all the styles related to the idea_center controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#staff_main{
  margin-top:70px;
  padding-left:70px;
}
#staff_titles h3{
  text-transform:uppercase;
  font-weight: bold;
  font-family:'nimbus';
	font-size: 1.9em;
}

#staff_picks_content{
  width:970px;
}

#staff_picks_content #one{
  /* width:40%; */
}

#staff_picks_content #two{
  width:50%;
}

#staff_picks_content #two h3{
  color:#517c86;
  text-transform:uppercase;
  font-weight: bold;
  font-family:'nimbus';
	font-size: 1.8em;
}
#staff_picks_content #two h5{
  color:#000;
  font-family:'nimbus_italic';
	font-size: 1.5em;

}
#staff_picks_content #two ul{
  display: table;
	list-style-type: none;
}
#staff_picks_content #two ul li{
  display: inline; 
}
