// Place all the styles related to the idea_center controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#social.staff_picks{
 margin-top: 10em;
}

#lightbulb.staff_picks{
  margin-top: 10em; 
}

#staff_main{
  margin-top:0px;
  padding-left:70px;
}

#content_holder.staff_picks{
 margin-top: 12em;
}

#carousel-portfolio{
  width:920px;
  margin-left: 57px;
}

#carousel-portfolio #small_images{
  padding-left:5em;
}

#carousel-portfolio #large_images{
  padding-right:5em;
}


#staff_titles h3{
  text-transform:uppercase;
  font-weight: bold;
  font-family:'nimbus';
	font-size: 1.9em;
}

#staff_picks_content{
  width:70.6em;
}

#staff_picks_content #title_bar.staff{
 margin-left: 4em;
 margin-bottom:2em;
 margin-top:1em;
}
#staff_picks_content #title_bar.portfolio{
 margin-left: 4em;
 margin-top:1em;
}
#staff_picks_content #title_bar.case_studies{
 margin-left: 4em;
 margin-top:1em;
}


#staff_picks_content #one{
  /* width:40%; */
}

.text_window.halfway{
  width: 32em;
}

.text_window.fullway{
  width: 72em;
}

.staff_pick_text{
  width:50%;
}

.staff_pick_text ul{
  border-bottom-width: .15em;
  border-bottom-style: dotted;
}

.portfolio_text{
  margin-left: 107px;
}
.portfolio_text ul{
  border-bottom-style: none;
}

#staff_picks_content #two{
//  width:50%;
  margin-right: 3em;
}

#staff_picks_content #two h3{
  color:#517c86;
  text-transform:uppercase;
  font-weight: bold;
  font-family:'nimbus';
	font-size: 1.8em;
}
#staff_picks_content #two h5{
  color:#000;
  font-family:'nimbus_italic';
	font-size: 1.5em;
  padding-left:1em;

}
#staff_picks_content #two ul{
  display: table;
	list-style-type: none;
}
#staff_picks_content #two ul>li{
   display: inline-block;
}
#staff_picks_content #two ul>p{

}


#staff_picks_content #image2{
  padding-left:1.2em;
}

ul#staff_nav{
  margin-left:8.8em;
}
ul#staff_nav li>a{
  padding: 10px;
  display: block;
  margin-top:15px;
  margin-left: auto;
  margin-right: 1.7em;
  font-family:'nimbus_conbla';
  font-size: 1.1em;
  text-transform:uppercase;

  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0;
  color: #999999;
}
ul#staff_nav li>a:hover{
  background-color: #ffd200;
  border-radius: 0;
}
