.locker_room_arrows{
  position: absolute;
  left: 550px;
  }

.locker_room_text{
  position: absolute;
  top: 185px;
  width: 50px;
  }

.locker_account_text{
  width:53%;
  font-size: 1.1em;
}

.locker_img{
  top: 650px;
}
.locker_open{
  padding-top: 20px;
}

  #carousel-lockers{
  width: 800px;
  height: 800px;
  margin-top: 150px;
  margin-left: 5px;
  margin-right: 0px;
}

  #carousel-lockers #small_images{
  padding-left:5em;
}

