.locker_room_arrows{
  position: absolute;
  left: 575px;
  }

.locker_room_text{
  position: absolute;
  top: 185px;
  width: 50px;
  }

.locker_account_text{
  width:53%;
  font-size: 1.1em;
}

.locker_img{
  top: 650px;
}
