// Place all the styles related to the team_creative controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main.associates{
  padding-left:9.5em;
}
#staff_picks_content #title_bar.our_sales_associates{
  margin-bottom:2em;
  margin-top:1em;
}
#staff_picks_content #two.assoc{
  border-right-style: solid;
  border-right-color: #DDD;
  border-right-width: 2px;
  padding-right: 3em;
}
#staff_picks_content #two.assoc h3 {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'nimbus';
  font-size: 1.8em;
}

.staff_pick_text.assoc{
  width:32em;
}

#assoc_contact_info .middle{
  vertical-align: middle;
  margin-top: .5em;
  margin-left: 5em;
  margin-right: auto;
}

#assoc_contact_info .middle p{
  margin-left: .5em;
}


.yellow_button{
  margin-left: 1.5em;
  background:image_url('yellow_button.png');
  padding-top: 0.7em;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 114px;
  height: 42px;
}

.yellow_button p{
  height:100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#icon_twitter{
  margin-right: .25em;
}

#timeline .leaders{
  background:image_url('team_creative/leader_board_bkgrd.jpg');
  background-repeat: no-repeat;
  width:214px;
  margin-right:.5em;

}

.leaders img{
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.leaders p{
  margin-left:1em;
  margin-right:.5em;
}
.leaders h5{
  margin-left:1em;
  margin-right:.5em;
}


#timeline.team_creative{
  width:65.6em;
  height:auto;
  padding-top:2.5em;
  padding-left:1.6em;
  padding-right:1.5em;
  margin-left: 5em;
  margin-right: 8em;
  background:image_url('timeline_background.png');
  background-repeat: no-repeat;
  z-index:1;
  position:relative;
}

#timeline.team_creative  a{
}

#timeline.team_creative a:hover{
  background:image_url('team_creative/leader_board_bkgrd2.jpg');
  background-repeat: no-repeat;
}

#staff_picks_content.sales_assoc{
  width: 60.6em;
}

#sidebar.teamcreative{
  margin-top:0em;
}


